.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    grid-template-rows: repeat(3, 137px);
    gap: 45px 35px;
    justify-content: center;
    align-items: center;
}

.card {

    background: #F0F0F0;
    border-radius: 8px;
    cursor: pointer;
}

.cardboxTages {
    display: flex;
}

.tags {
    height: 16px;
    width: 60px;
    margin-right: 6px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #212121;
}

.male {
    background: #73D677;
}

.female {
    background: #C956FF;
}

.hermaphrodite {
    background: #F5DB13;
}

.birth {
    background: #07D6F2;
}

.pages {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .page,
    .curpage {
        border: 1px solid lightgray;
        border-radius: 100%;
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .curpage {
        border: 2px solid gray;
        font-weight: 700;
    }
}

.search {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    & input {
        padding: 5px;
        width: 20%;
    }

    & button {
        padding: 5px;
    }
}