.title {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    gap: 45px 35px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 7px 25px 13px 25px;
    background: #F0F0F0;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);

    h3 {
        margin: 0;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
}

.pages {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .page,
    .curpage {
        border: 2px solid lightgray;
        background-color: lightgray;
        border-radius: 100%;
        padding: 2px;
        margin: 0 10px;
        cursor: pointer;
    }

    .curpage {
        border: 2px solid gray;
        background-color: gray;
        font-weight: 700;
    }
}

.search {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    margin-bottom: 30px;

    & input {
        border-radius: 40px;
        border: none;
        height: 56px;
        width: 1094px;
        background: #F2F2F2;
        box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
        font-family: 'Source Sans Pro';
        font-size: 16px;
        text-indent: 2%;
    }

    & button {
        padding: 5px;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: spinner;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}