.title {
    text-align: center;
}

.maincontent {}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    gap: 45px 35px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 15px 25px;
    background: #F0F0F0;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);

    & .name {
        h3 {
            font-family: 'Karla';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
        }

    }

    & .wrapperparam {
        display: flex;
    }

    & .parambody {
        display: grid;
        grid-template-columns: repeat(1, 38px);
        grid-template-rows: repeat(2, 38px);
        gap: 8px 13px;
        margin: 24px 14px 8px 0;
        text-align: center;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        & .num {
            border: 3px solid #212121;
            border-radius: 19px;

            & span {
                position: absolute;
                transform: translate(-50%, 40%);
                color: #212121;
            }
        }

        & .var {
            line-height: 18px;
            color: #4B4B4B;
        }


    }
}

.cardboxTages {
    display: flex;
}

.tags {
    display: inline-block;
    height: 16px;
    padding: 0 15px;
    margin-right: 6px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #212121;
}

.male {
    background: #73D677;
}

.female {
    background: #C956FF;
}

.hermaphrodite {
    background: #F5DB13;
}

.birth {
    background: #07D6F2;
}

.pages {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .page,
    .curpage {
        border: 2px solid lightgray;
        background-color: lightgray;
        border-radius: 100%;
        padding: 6px;
        margin: 0 10px;
        cursor: pointer;
    }

    .curpage {
        border: 2px solid gray;
        background-color: gray;
        font-weight: 700;
    }
}

.search {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    margin-bottom: 30px;

    & input {
        border-radius: 40px;
        border: none;
        height: 56px;
        width: 1094px;
        background: #F2F2F2;
        box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
        font-family: 'Source Sans Pro';
        font-size: 16px;
        text-indent: 2%;
    }

    & button {
        padding: 5px;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: spinner;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}